@media only screen and (max-width: 767px) {
    .margin-phone-8{
        margin-top: 30rem;
    }
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
    .margin-phone-8{
        margin-top: 10rem;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .margin-phone-8{
        margin-top: 15rem;
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1440px) {
    .sidePaddings{
    }
    .padding-right-4{
        padding-right: 4rem;
    }
    .padding-4{
        padding:4rem;
    }
    .margin-top-1{
        margin-top: 1rem;
    }
}
